html {
  height: 100%;
  width: 100%;
}
body {
  height: 100%;
  width: 100%;
  background-color: #282727;
}
header {
  width: 100%;
  height: 15%;
  position: fixed;
  top: 0;
  z-index: 2;
  background-color: #282727;
}

#suivant {
  display: inline-block;
  border-radius: 5px;
  color: white;
  width: 10%;
  height: 100%;
  background-color: #010299;
  text-align: center;
  float: right;
  margin-left: 2%;
  display: none;
}

#precedent {
  display: inline-block;
  border-radius: 5px;
  color: white;
  padding: 2%;
  margin-top: 10%;
  font-size: 50px;
  background-color: #444242;
  text-align: center;
  float: left;
}
/*-------------------------------------------------------------------------------------------------------*\
    Modal
\*-------------------------------------------------------------------------------------------------------*/

.imgcontainer {
  text-align: center;
  margin: 24px 0 12px 0;
  position: relative;
}

img.avatar {
  width: 40%;
  border-radius: 20%;
  left: 50px;
}

.container {
  padding: 16px;
}

span.psw {
  float: right;
  padding-top: 16px;
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
  padding-top: 10%;
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 1.5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
  border: 1px solid #888;
  min-height: 84%;
  width: 90%; /* Could be more or less, depending on screen size */
}

/* The Close Button (x) */
.close {
  position: absolute;
  right: 25px;
  top: 0;
  color: #000;
  font-size: 50px;
  font-weight: bold;
  margin-top: 2%;
  margin-right: 2%;
}

.close:hover,
.close:focus {
  color: red;
  cursor: pointer;
}
.titre-modal-content {
  background-color: #010299;
  padding-top: 2%;
  padding-bottom: 2%;
  text-align: center;
  width: 100%;
  margin-top: 0;
  color: white;
}

.text-modal-content {
  font-weight: 100;
  padding-top: 0;
  padding-left: 4%;
  padding-right: 4%;
  font-size: 30px;
  text-align: justify;
}
/* Add Zoom Animation */
.animate {
  -webkit-animation: animatezoom 0.6s;
  animation: animatezoom 0.6s;
}

@-webkit-keyframes animatezoom {
  from {
    -webkit-transform: scale(0);
  }
  to {
    -webkit-transform: scale(1);
  }
}

@keyframes animatezoom {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
  span.psw {
    display: block;
    float: none;
  }
  .cancelbtn {
    width: 100%;
  }
}

#crpPastoral {
  width: 100%;
  border: 2px solid red;
  padding-top: 2%;
}
.pdp-crpPastoral {
  width: 400px;
  height: 300px;
  background-size: cover;
  background-image: url(https://www.lelscan-vf.com/uploads/manga/one-piece/chapters/976vf/022.jpg);
  display: inline-block;
  border: 2px solid pink;
}
.contenair-crpPastoral {
  display: inline-block;
  margin-right: 5%;
  float: right;
  font-size: 2em;
  border: 2px solid purple;
}

/* Contenair du zoom*/
.articles {
  width: 80%;
  margin: auto auto;
  margin-bottom: 5%;
  display: grid;
  grid-template-columns: repeat(9, 1fr);
  background-color: #246996;
}

/* Partie droite qui contient le texte*/
.article-texte {
  grid-column: 1/5;
  text-align: left;
  padding-left: 20%;
  padding-top: 10%;
  cursor: pointer;
  color: white;
  text-decoration: none;
  padding-bottom: 50px;
}

/* gère la couleur du lien dans la zone texte*/
.article-texte h1,
a {
  color: white;
  text-decoration: none;
  margin: 0;
}
.article-texte em {
  font-size: 2em;
}

/*contenair partie gauche, image qui va être zoomée*/
.article-img {
  grid-column: 5 / 10;
  grid-row: 1;
  position: relative;
  display: inline-block;
  background: #cacaca;
  line-height: 0;
  overflow: hidden;
  -webkit-clip-path: polygon(28% 0, 100% 0, 100% 100%, 0% 100%);
  clip-path: polygon(28% 0, 100% 0, 100% 100%, 0% 100%);
}

/*Lance les animation du zoom*/
.zoom {
  -moz-transform: scale(1);
  -webkit-transform: scale(1);
  transform: scale(1);
  transition: 0.7s ease all;
  -webkit-transition: 0.7s ease all;
  -moz-transition: 0.7s ease all;
  animation: anime 5s;
}

/*Lance les animation du zoom*/
.zoom:hover {
  -moz-transform: scale(1.5);
  -webkit-transform: scale(1.5);
  transform: scale(1.5);
  cursor: pointer;
}

.articles h1 {
  color: #e6b31e;
}

.articles:hover {
  cursor: pointer;
}

#contenair-articles {
  width: 100%;
  margin-top: 20%;
}
.anime {
  animation: anime 5s;
}
@keyframes anime {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.5);
  }
  100% {
    transform: scale(1);
  }
}

.case-contenair-bulle-pop-up {
  width: 300px;
  height: 300px;
  display: inline-block;
  margin-left: 2%;
  text-align: center;
  margin-bottom: 10%;
}
.bulle-pop-up {
  border: 1.5px solid #010299;
  width: 250px;
  height: 250px;
  margin: auto;
  border-radius: 300px;
  background-size: cover;
  background-position: center;
}

.titre-bulle-pop-up {
  text-align: center;
  font-weight: bold;
  width: 98%;
  margin-left: auto;
  margin-right: auto;
}

#frame {
  zoom: 1.8;
  -moz-transform: scale(1.8);
  -moz-transform-origin: 0 0;
  -o-transform: scale(1.8);
  -o-transform-origin: 0 0;
  -webkit-transform: scale(1.8);
  -webkit-transform-origin: 0 0;
  margin-top: 18%;
  width: 100%;
  height: 1000px;
  border-color: #282727;
}
